*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: var(--color-white);
  max-width: 1880px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: unset;
  text-decoration: none;
}

.gradient__happier
{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 5% 25%, rgba(255, 255, 255, 1) 3%, rgba(255, 173, 22, 1) 100%, rgba(255, 193, 7, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 5% 25%, rgba(255, 255, 255, 1) 3%, rgba(255, 173, 22, 1) 100%, rgba(255, 193, 7, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 5% 25%, rgba(255, 255, 255, 1) 3%, rgba(255, 173, 22, 1) 100%, rgba(255, 193, 7, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 5% 25%, rgba(255, 255, 255, 1) 3%, rgba(255, 173, 22, 1) 100%, rgba(255, 193, 7, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 5% 25%, rgba(255, 255, 255, 1) 3%, rgba(255, 173, 22, 1) 100%, rgba(255, 193, 7, 1) 100%);

}

.gradient__text{
  background: linear-gradient(89.97deg, #fcdaad 1.84%, #FFAE1A 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__h1{
  background: var(--gradient-h1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}

@media screen and (max-width: 700px){
  .section__padding{
    padding: 4rem;
  }
  .section__margin{
    margin: 4rem;
  }
}

@media screen and (max-width: 550px){
  .section__padding{
    padding: 4rem 2rem;
  }
  .section__margin{
    margin: 4rem 2rem;
  }
}


